

/*body {
padding: 0 0px 0 0px;

}*/


.xbody {
margin : auto;
position: relative;
max-width: 1366px ;

}

.slider {

/*top: 10px;*/
position: relative;
}

@media (min-width: 0px){}
.d-md-block {
    display: block!important;
}
}

a{
color: white;
}

a:hover{
  text-decoration: none;
color: inherit;
}
.textpanel {
position: absolute;
color: white;
/*left: 5%;
right: 0px;*/
}


.titre-card {

align-items: center;
justify-content: center;
display: flex;
margin-top: 50px;
position: relative;
}

.cards {
margin-top: 50px;
padding : 12px;
position: relative;
}

.cards .row>* {

padding-right: 0px;
    padding-left: 0px;

}

@media (max-width:768px) {
    .panel-img  {
        
min-width: 100%;
max-height: 250px;
object-fit: cover;
    }

    .img-fluid {

      max-width: unset;
      max-height: 600px;
      object-fit: cover;
    }

    .panel{
margin-top : 50px;

    }

.background-color{
background: rgba(174, 160, 167, 0.6);
display: flex;
justify-content: center;
align-items: center;
position: absolute;
width: 100%;
height: 50px;
}

.sibling{
  position: relative;
align-items: end;
display: flex;



}
    }



    .xbody {
margin : auto;
width: 100%;
}




@media (min-width:992px){

    .navbar-nav {
	position:absolute;
	right:10px;
}

}


@media (min-width:769px) {
    .panel-img {
        min-width: 100%;
        max-height: 600px;
        position: relative;
        
}


.panel {
margin-top: 30px;
position: relative;
overflow: hidden;

}

.panel-img{

-webkit-filter: grayscale(1);
position: relative;


}


.background-color {
background: rgba(174, 160, 167, 0.6);
position: absolute;
bottom: 1px;
width: 25%;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
pointer-events: auto;
}

.panel-img:hover {
  filter: none;
  -webkit-filter: none;
}

 sibling:hover .panel-img {

  filter: none;
 -webkit-filter: none;

}

}
    
.button-adherer {
display: flex;
justify-content: center;
align-items: center;
position: relative;
height: 60px;
width: 100%;
padding: 15px;
background: rgba(106, 214, 89, 0.4);
}

.button-adherer .btn & .btn & .button-voir-articles{
position: absolute;
height: 40px;
}

      


.button-voir-articles {
display: flex;
justify-content: center;
align-items: center;
position: relative;
height: 60px;
width: 100%;
/*background: rgba(106, 214, 89, 0.4);*/
margin-top: 20px;
bottom: 12px;
margin-bottom : -12px;
padding: 0px 20px 0px 20px; 
}      

.col-css {

padding: 1px;

}


.gallery {
margin-top: 100px;
position: relative;
overflow: hidden;
padding: 0px;
}


.img-wrapper{

width: 300px;
height: 500px;

}

.cardsgroup {

  margin-top: 20px;
}


.imgslider {
max-width: 100%;
width: 100%;
max-height: 350px;
object-fit: cover;
}

@media (max-width:576px) {
.imgslider {
min-height: 400px;

}
}

@media (min-width:769px){
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
  overflow: hidden;  
}
    .article-cards {
        height: 300px;
      }
}
      
    .img-article{
width: 100%;
height: 100%;
object-fit: cover;
      
    }

.stats{
position: relative;
display: flex;
height: auto;
min-width: 100%;
min-height: 500px;
margin-top: 50px;
overflow: hidden;
  }

.icons-stats{
font-size: 60px;
color: white;  
}

div.stats > div {
padding: 30px;
background-image: url("img/slider-forests.jpg");
background-repeat: no-repeat;
background-size:cover;
min-height : 400px;
min-width : 100%;
align-items: center;
margin-left: 0px;
position: relative;
      }


.text-number-stats{
font-size : 50px;
font-weight: bold;
color: white;    
}

.text-stats{

font-size : 20px;
font-weight: bold;
color: white;

}

.btn-stats {
background: orange;
height: 100px;
color: white;
border: 0px;
display: inline-flex;
align-items: center;
gap: 10px;
padding: 20px;
border-radius: 5px;
text-decoration: none;

}

.btn-stats:hover {

background: green;
color: white;
}
  
 .btn-stats-icon {

font-size : 50px;
font-weight: bold;
}
      
.text-btn-stats{

font-size : 20px;
font-weight: bold;

}

@media (max-width:576px) {
.stats .row [class*="col-"] {
  margin-top: 30px
}

.btn:not(footer .btn){

  width: 100%;
}
}
  
.btn {
  
background-color: green;
}

.map-container-6{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-6 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

.page-message-ok{

 min-height: 500px;
display: flex;
align-items: center;
  
}

      
.message-ok{

  font-size: 50px;
  font-weight: bold;
  color: green;
  
}

.message-ko{

  font-size: 50px;
  font-weight: bold;
  color: orange;
  
}

.icon-sucess {

  font-size: 100px;
  font-weight: bold;
  color: green;
}
      
.icon-error {

  font-size: 100px;
  font-weight: bold;
  color: orange;
}

    

.titres{
  
  font-weight: 400;
  color: green;
}

.ressayer {

font-size: 30px;
color: orange;
text-decoration: none;
color: inherit;
}

.ressayer:hover {

color: green;
}

footer {

  margin-top: 100px;
}

.footer-bar {
color: white;
background-color: green;
}

 .text-footer{
color: white;
   
 }

.article-type {
   position: reative;
   margin-top: 50px;
   width: 100%;
 }     

